<div class="container d-flex justify-content-center align-items-center flex-column m-5 p-3">
  <h2>Question:</h2>
  <%= @answer %>
  <br>
  <h2>Answer:</h2>
  <% if @answer == "I am going to work" %>
    <%= "great!" %>
  <% elsif @answer.include? "?" %>
    <%= "Silly question, get dressed and go to work!" %>
  <% else %>
    <%= "I don't care, get dressed and go to work!" %>
  <% end %>
  <br>
  <br>
  <%= link_to "Ask another question", ask_path %>
</div>
